body {
  background:#111;
  color:#ddd;
  font-family: monospace;
}

#app {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

#input {
  width: 100%;
  background:#111;
  color:#ddd;
  border:none;
  outline:none;
  font-family: monospace;
}